:root {
    --light-mint-color: lightseagreen;
    --middle-mint-color: teal;
    --dark-mint-color: darkslategray;
    --button-outline-color: rgb(0, 255, 221);
  }

.centerPanel {
    align-items: center;
    display : grid;
    grid-area : centerPanel;
    color: white;
    background-color:var(--middle-mint-color);
}

.leftPanel {
    align-items: center;
    display : grid;
    grid-area : leftPanel;
    color: white;
    background-color: var(--light-mint-color);
    
}

.rightPanel {
    align-items: center;
    display : grid;
    grid-area : rightPanel;
    color: white;
    background-color:var(--dark-mint-color);
}

@media screen and (max-width: 1450px) {
    .centerPanel {
        align-items: center;
        display : grid;
        grid-area : leftPanel;
        color: white;
        background-color:var(--light-mint-color);
    }

    
    .leftPanel {
        align-items: center;
        display : grid;
        grid-area : centerPanel;
        color: white;
        background-color: var(--light-mint-color);
        
    }
    
    .rightPanel {
        align-items: center;
        display : grid;
        grid-area : rightPanel;
        color: white;
        background-color:var(--dark-mint-color);
    }
  }

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-weight: 100;
}


.inputLeft {
    background-color:transparent;
    width: 40%;
    line-height: 50px;
    box-sizing: border-box;
    box-shadow: 1 3px 6px;
    border: 2px solid;
    border-radius: 3px;
    border-color: var(--button-outline-color);
    color: white;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    margin: 10px;
    transition: 0.5s;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-weight: 100;
}

.inputLeft:hover {
    border-color:var(--dark-mint-color);
}

.inputRight {
    background-color:transparent;
    width: 40%;
    line-height: 50px;
    box-sizing: border-box;
    box-shadow: 1 3px 6px;
    border: 2px solid;
    border-radius: 3px;
    border-color: var(--button-outline-color);
    color: white;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    margin: 10px;
    transition: 0.5s;
    
}

.inputRight:hover {
    border-color:var(--dark-mint-color);
}

::placeholder {
    color: white;
    opacity: 1;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-weight: 100;
}

.loginLeftButton {
    background-color: var(--middle-mint-color);
    width: 40%;
    line-height: 50px;
    box-sizing: border-box;
    box-shadow: 1 3px 6px;
    border: 2px solid;
    border-radius: 3px;
    border-color: var(--dark-mint-color);
    color: white;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-weight: 100;
}

.loginLeftButton:hover{
    border-color: var(--button-outline-color);
}


.loginRightButton {
    background-color: var(--dark-mint-color);
    width: 40%;
    line-height: 50px;
    box-sizing: border-box;
    box-shadow: 1 3px 6px;
    border: 2px solid;
    border-radius: 3px;
    border-color: var(--light-mint-color);
    color: white;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    font-weight: 100;
}

.loginRightButton:hover{
    border-color: var(--button-outline-color);
}



