:root {
  --light-mint-color: lightseagreen;
  --middle-mint-color: teal;
  --dark-mint-color: darkslategray;
  --button-outline-color: rgb(0, 255, 221);
}

.App 
  {
  display: grid;
 }

                      
.LoginGrid
{
  
  text-align: center;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  " leftPanel centerPanel rightPanel"
  ;
                    
}

.HomePageGrid
{
  text-align: center;
  display: grid;
  margin-top: 48px;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  " leftPanel  centerPanel  rightPanel "
}


.Button
{
  border-radius: 4px;
  border: 2px solid; 
  color: var(--button-outline-color);
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  box-sizing: border-box;
  margin: auto;
  text-decoration: none;  /* gets rid of all decoration including underline */
  list-style-type: none;  /* for drop down */
  
  
}

.Button:hover
{
  box-shadow: gray 1px;
  border: honeydew;
}

.Navbar
{
  text-align: center;
  padding: 10px 10px;
  margin: 0px;
  text-decoration: none;
  top: 0;
  position: fixed;
  width: 100%;
  background-color:darkslategray;
}

.homePageContainer
{
  display: grid, flex;
  margin: 2px;
  grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: 
   " playerName playerName "
   " playerPic playerInfo "
}

.Table {
  display: table;
  width: 80%;
  border: solid 3px;
  border-radius: 10px;
  border-color: darkslategray;
  border-collapse: collapse;
  justify-self: center;
  /* transition: 0.5s; */
  /* border-left: none;
  border-right: none; */
  
  /* padding: 2px; */
  
}

/* .Table:hover {
  border-color: var(--light-mint-color);
  
 
} */

.TableRow {
  /* display: table-row; */
  
  border-color: var(--dark-mint-color);
  
  border-radius: 3px;
  /* transition: 0.2s; */
}

.TableRow:hover {
  
  border: solid 3px var(--dark-mint-color);
}


.playerPic1
{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50px;
  height: 100px;
}

.PlayerPicture
{
  border: 1px solid var(--light-mint-color);
  border-radius: 4px;
  padding: 5px;
  max-width: 150px;
  max-height: 350px;
  
}


.FirstElevenGrid
{
  text-align: center;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  " leftWinger  centerForward centerForward centerForward rightWinger "
  " centerAttackingMidfield  centerAttackingMidfield centerAttackingMidfield centerAttackingMidfield centerAttackingMidfield "
  " leftMidfield  centerMidfield centerMidfield centerMidfield rightMidfield "
  " leftWingBack defensiveMidfield defensiveMidfield defensiveMidfield rightWingBack "
  " leftBack  centerBack centerBack centerBack rightBack "
  " goalKeeper goalKeeper goalKeeper goalKeeper goalKeeper "
}

.benchGrid {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: " benchTitle benchTitle benchTitle "
                       " firstBenchPic firstBenchSub firstBenchTactics "
                       " secondBenchPic secondBenchSub secondBenchTactics "
                       " thirdBenchPic thirdBenchSub thirdBenchTactics "
                       " fourthBenchPic fourthBenchSub fourthBenchTactics "
                       " fifthBenchPic fifthBenchSub fifthBenchTactics "
}

/* .formationContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: scroll;
} */

.formationGrid {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "formationText formationButton"
                       "formationText formationButton"
                       "formationText formationButton"
                       "formationText formationButton"
                       "formationText formationButton"
                       "formationText formationButton"
                       "formationText formationButton"
                       "formationText formationButton"
                       "formationText formationButton"
                       "formationText formationButton"
  
  
                       /* " firstFormationText firstFormationCheckBox "
                       " secondFormationText secondFormationCheckBox "
                       " thirdFormationText thirdFormationCheckBox "
                       " fourthFormationText fourthFormationCheckBox "
                       " fifthFormationText fifthFormationCheckBox "
                       " sixthFormationText sixthFormationCheckBox "
                       " seventhFormationText seventhFormationCheckBox "
                       " eighthFormationText eighthFormationCheckBox "
                       " ninthFormationText ninthFormationCheckBox "
                       " tenthFormationText tenthFormationCheckBox " */
                      
}


/* Squad */


